<?xml version="1.0"?>
<configuration>
 
<connectionStrings>
  <add name="KaizosEntities" connectionString="metadata=res://*/BusinessModel.csdl|res://*/BusinessModel.ssdl|res://*/BusinessModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ips-chennai\sqlexpress;Initial Catalog=KZ_VSS;Persist Security Info=True;User ID=sa;Password=1interlog!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
